$dark-blue: #1A2B41;
$light-blue: #4BA9EC;

@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'SF Pro Display';
}

p {
  margin: 0;
}

.addr {
  background-color: rgba($light-blue, 0.245);
  border: 1px solid rgba($light-blue, 0.178);
  border-radius: 3px;
  margin: 0 0 15px 0;
  padding: 5px 0;
}

.jumbotron {
  margin: 50px auto;
  padding: 1rem 1rem;
  // background-color: rgb(243, 243, 243);
  // border: 1px solid rgba(146, 146, 146, 0.05);
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.05);
  overflow:hidden;

}

hr {
  margin: 0;
}

.search-bar {
  width: 745px;
  padding: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);

  .search-text {
    width: 550px;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.2);
    border-radius: 0;
    margin: 0 15px 0 0;

    &:focus {
      box-shadow: none;
      border-color: rgba(0,0,0,0.8);
      color: rgba(0,0,0,0.8);
    }
  }


  .search-button {
    width: 150px;
    background-color: $light-blue;
    border: none;
    border-radius: 0;
    height: 60px;

    &:hover {
      background-color: $light-blue;
    }
  }

}

.btn-outline-primary {
  color: $light-blue;
  border-color: $light-blue;
  border-width: 2px;
  outline-offset: -2px;
  border-radius: 5px;

  &:hover {
    border-color: $light-blue;
    background-color: $light-blue;
  }
}

.long-text {
  // width: 600px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.value {
  text-align: right;
}

.btc-value {
  background-color: $dark-blue;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  float: right;
}

@media screen and (max-width: 991px) {
  p, span {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {

  .search-bar {
    margin: 0 auto;
    // width: 80%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .search-text {
      width: 100%;
      -webkit-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
      -moz-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
      box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
      margin: 0 0 15px 0;

      &:focus {
        -webkit-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
        -moz-box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
        box-shadow: 0px 0px 61px 2px rgba(0,0,0,0.10);
      }
    }
    .search-button {
      width: 100% !important;
    }
  }
}
